# MongoDB Database Settings
# For Local MongoDB:
MONGODB_URL=mongodb://localhost:27017
MONGODB_DB_NAME=cfsi_db

# For MongoDB Atlas (Cloud), uncomment and paste your Atlas connection string:
# MONGODB_URL=mongodb+srv://<username>:<password>@cluster0.abcde.mongodb.net/?retryWrites=true&w=majority

# JWT Authentication
CFSI_JWT_SECRET=cfsi_jwt_secure_secret_key_2026_vadodara_safety
ACCESS_TOKEN_EXPIRE_MINUTES=1440

# Server Config
HOST=0.0.0.0
PORT=8000
